@model PizzeriaApp.Models.PizzaToppingModel

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nazwa pizzy</label>
                <select asp-for="PizzaId" class ="form-control" asp-items="ViewBag.PizzaId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Dodatki: </label>
                <ul style="list-style-type: none;">
                @foreach(var topping in ViewBag.Toppings)
                {
                    <li> <input type ="checkbox" name="ToppingsIds" value="@topping.ToppingId" /> @topping.ToppingName</li>
                }
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

