@model PizzeriaApp.Models.PizzaToppingModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń dodatek z pizzy</h1>

<h3>Czy na pewno chcesz usunąć @Model.Topping.ToppingName z pizzy @Model.Pizza.PizzaName?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Pizza:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pizza.PizzaName)
        </dd class>
        <dt class = "col-sm-2">
            Dodatek:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topping.ToppingName)
        </dd class>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PizzaId" />
        <input type="hidden" asp-for="ToppingId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
