@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">.Net - Projekt</h1>
    <h4>Funkcjonalności:</h4>
    <ul>
        <li>Dodawanie nowej pizzy do menu <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Usuwanie pizzy z menu <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Wyświetlenie listy wszystkich dostępnych w menu pizz <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Wyszukiwanie pizz wg początku nazwy (np. poprzez formularz nad listą pizz) <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Podgląd szczegółowych informacji o wybranej pizzy<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Utrzymywanie listy dostępnych składników: 
            <ul>
                <li>dodawanie<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
                <li>usuwanie<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
                <li>zmiana nazwy składnika<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
            </ul>(Usunięcie składnika powinno być możliwe tylko wtedy gdy nie jest on użyty na żadnej pizzy.)<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Na zakończenie procesu usuwania pizzy powinna być prezentowana użytkownikowi strona z prośbą o potwierdzenie swojej decyzji z możliwością wycofania się z niej <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
        <li>Wszystkie pola formularzy do dodawania i edycji powinny być obowiązkowe<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span></li>
    </ul>
</div>
